main {
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
    margin: 1rem;

}

img,
video {
    max-width: 60rem;
}

nav {
    margin-bottom: 1rem;
    border: solid 5px black;
}

nav a {
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: #060B2E;

}

nav a:hover {
    color: #FF495C;
}

@media (max-width: 375px) {
    img {
        position: relative;
        left: 20%;

        width: 60%;
    }

    video {
        width: 5rem;
    }

    iframe {
        width: 5rem;
    }

    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 80%;
    }

    nav a {
        font-size: 80%;
    }

    nav {
        border: solid 2px black;
    }

    ol {
        padding: 0;
        margin: 3px;
    }
}

@media (orientation: portrait) {
    img {
        position: relative;
        left: 20%;

        width: 60%;
    }

    video {
        position: relative;
        left: 20%;

        width: 60%;

    }

    iframe {
        width: 5rem;
    }

    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 80%;
    }

    nav a {
        font-size: 80%;
    }

    nav {
        border: solid 2px black;
    }

    ol {
        padding: 0;
        margin: 3px;
    }
}